{%- extends "admin/admin_area.twig" -%}


{%- set group, visit_details = DATA.group_details, DATA.visit_details -%}

{% block content %}
    <h1>Anteckningar för {{ group.name }} från {{ group.school }}</h1>
    <h6>Lärare: {{ group.teacher }}</h6>
    <h2>Lägg till anteckning till {{ visit_details[DATA.this_visit_id] }}</h2>
    <div class="add-note-to-visit" data-visit-id="{{ DATA.this_visit_id }}">
        <div class="prewritten-notes" hidden data-notes="{{ DATA.this_visit_notes }}"></div>

        <div class="input-group">
            {% for colleague in DATA.colleagues %}
                <button data-user-id="{{ colleague.id }}"
                        class="btn btn-outline-secondary {% if user is defined and user.id ==  colleague.id %}active{% endif %}"
                        type="button">
                    {{ colleague.acronym }}
                </button>
            {% endfor %}
        </div>
        <textarea cols="50" rows="5" class="editable" placeholder="Lägg till en anteckning"></textarea>
    </div>
    <h2>Tidigare anteckningar för gruppen</h2>
    <table class="table">
        {% for visit_id, notes in DATA.notes %}
            <tr class="table-info text-center font-weight-bold">
                <td colspan="3">{{ visit_details[visit_id] }}</td>
            </tr>
            {% for note in notes %}
                <tr>
                    <td>{{ note.timestamp }}</td>
                    <td>{{ note.author }}</td>
                    <td>{{ note.text }}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}



