{%- extends "admin/admin_area.twig" -%}

{%- set segments = {"2": "åk 2","5": "åk 5","9": "åk 9"} -%}
{%- set subjects = {
    "confirmation": "Bekräfta besök",
    "incomplete_profile": "Mera information krävs",
    "new": "Välkomstmejl",
    "continued": "Mejl efter lovet"
} -%}

{%- block content -%}

    <button><a data-base="file/mail/" href="file/mail/new" target="_blank" id="download_all_mails">Ladda ner mejl</a></button>
    <button><a href="" id="refresh_mail_view">Uppdatera sidan</a></button>

    <form>
        <div class="row">
            <div class="col">
                {% for segment, segment_label in segments %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="segment" id="radio_{{ segment }}" value="{{ segment }}">
                        <label class="form-check-label" for="radio_{{ segment }}">{{- segment_label -}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for subject, subject_label in subjects %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="subject" id="radio_{{ subject }}" value="{{ subject }}">
                        <label class="form-check-label" for="radio_{{ subject }}">{{- subject_label -}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>
{#
<select id="mail_type_selector">
    <option value="new">new</option>
    <option value="continued">continued</option>
</select>
#}
{% for segment, users in DATA.users_by_segments %}
<h1>Årskurs {{ segment }}</h1>
<table>
    <thead></thead>
    <tbody>
{% for user in users %}
    {% set file_name_id = "file_name_" ~ user.id %}
    <tr>
        <td>{{ user.id }}</td>
        <td>
            <a href="mailto: {{- user.mail -}} ?subject={{ DATA.mail_subject_text|e('url') }}Dina%20besök%20på%20Naturskolan"><i class="fas fa-envelope"></i></a>{{ user.full_name }}
        </td>
        <td><button class="copy-to-clipboard" data-target="{{ file_name_id }}"><i class="fas fa-copy"></i></button></td>
        <td><input class="copy-field" type="text" id="{{ file_name_id }}" value="{{ user.file_name }}"></td>
    </tr>
{% endfor %}
    </tbody></table>
{% endfor %}
{%- endblock -%}

