{%- extends "admin/admin_area.twig" -%}

{%- set segments = {"2": "åk 2","5": "åk 5","9": "åk 9"} -%}
{% set chosen_subject_label = DATA.subjects[DATA.chosen_subject_id]|e('url')%}
{% set chosen_segment_label = segments[DATA.chosen_segment_id]|capitalize %}
{% set download_link = ["file", "mail", DATA.chosen_subject_id, DATA.chosen_segment_id]|join('/')  %}

{%- block content -%}



    <form class="mail_selector">
        <button><a data-base="file/mail/" href="{{ download_link }}" id="download_all_mails" target="_blank">Ladda ner mejl</a></button>
        <button><a data-base="view/mail/" href="" id="refresh_mail_view">Uppdatera sidan</a></button>
        <div class="row">
            <div class="col">
                {% for subject_id, subject_label in DATA.subjects %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="subject"
                               id="radio_{{ subject_id }}" value="{{ subject_id }}"
                                {%- if subject_id == DATA.chosen_subject_id %} checked{% endif -%}
                        >
                        <label class="form-check-label" for="radio_{{ subject_id }}">{{- subject_label -}}</label>
                    </div>
                {% endfor %}
            </div>
            <div class="col">
                {% for segment_id, segment_label in segments %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="segment"
                               id="radio_{{ segment_id }}" value="{{ segment_id }}"
                            {%- if segment_id == DATA.chosen_segment_id %} checked{% endif -%}
                        >
                        <label class="form-check-label" for="radio_{{ segment_id }}">{{- segment_label -}}</label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </form>

<h1>{{ chosen_segment_label }}</h1>
<table>
    <thead></thead>
    <tbody>
{% for user in DATA.users %}
    {% set file_name_id = "file_name_" ~ user.id %}
    <tr>
        <td>{{ user.id }}</td>
        <td>
            {{ user.full_name }}
        </td>
        <td>
            <a href="mailto: {{- user.mail -}} ?subject={{ chosen_subject_label}}">
                <button><i class="fas fa-envelope"></i></button>
            </a>
        </td>
        <td><button class="copy-to-clipboard" data-target="{{ file_name_id }}"><i class="fas fa-copy"></i></button></td>
        <td><input class="copy-field" type="text" id="{{ file_name_id }}" value="{{ user.file_name }}"></td>
    </tr>
{% endfor %}
    </tbody></table>
{%- endblock -%}

