{%- extends "admin/admin_area.twig" -%}

{%- block content -%}
<button><a href="file/mail" target="_blank">Ladda ner alla mejl</a></button>

    {% for segment, users in DATA.users_by_segments %}
    <h1>Årskurs {{ segment }}</h1>
    <table>
    {% for user in users %}
        {% set file_name_id = "file_name_" ~ user.id %}
        <tr>
            <td>{{ user.id }}</td>
            <td>
                <a href="mailto: {{- user.mail -}} ?subject=Dina%20besök%20på%20Naturskolan">Skicka mejl till {{ user.fname }}</a>
            </td>
            <td><button class="copy-to-clipboard" data-target="{{ file_name_id }}">Kopiera</button></td>
            <td><input type="text" id="{{ file_name_id }}" value="{{ user.file_name }}"></td>
        </tr>
    {% endfor %}
    </table>
{% endfor %}
{%- endblock -%}

