{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" href="assets/img/favicon.png" type="image/png" sizes="50x50">
    {%- if base -%}
        <base href="{{ base }}" target="_self">
    {%- endif -%}
    {% for css in css.sources %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}

    {% for style in css.literal %}
        <style>{{ style }}</style>
    {% endfor %}


    {% for js in js.sources %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}


    {% for script in js.literal %}
        <script>{{ script }}</script>
    {% endfor %}

    <title>{{ TITLE }}</title>
{% endblock %}
