{% block head %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {%- if base -%}
        <base href="{{ base }}" target="_self">
    {%- endif -%}
    {% for css in CssFiles %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    {% if LiteralCss %}
        <style>
            {% for style in LiteralCss %}
            {{ style }}
            {% endfor %}
        </style>
    {% endif %}
    {% for js in JsFiles %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}

    {% if LiteralJs %}
        <script>
            {% for script in LiteralJs %}
            {{ style }}
            {% endfor %}
        </script>
    {% endif %}
    <title><a href="/">{ TITLE }}</a></title>
{% endblock %}
