{% import "macros.twig" as F %}

{%- set groups, date_columns = DATA.groups, DATA.date_columns -%}

<!DOCTYPE html>
<html>
<head>
{{ include('head.twig')  }}
</head>
<body>
    <div class="container-fluid">
        <div><button id="send">Send away</button></div>
        <div class="groups set-dates">
            <h5>Grupper</h5>
            <ul>
                {% for group in groups %}
                <li data-id="group_{{ group.id }}">{{ group.school|upper }}: {{ group.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% for col in date_columns %}
        <div class="set-dates">
            <h5>{{ col.serial }}: {{ col.name|slice(0,5) }}</h5>
            <ul>
                {% for visit in col.visits  %}
                    <li data-id="topic#{{ col.id }}_{{ visit.id }}">{{ visit.date }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endfor %}

    </div>
</body>
</html>
