{%- extends "base.twig" -%}

{%- set groups, date_columns, grades = DATA.groups, DATA.date_columns, DATA.grades -%}

{% block content %}
    <div class="btn-group" role="group">
        {% for grade in grades %}
            <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ grade.url }}';">
                {{ grade.label }}
            </button>
        {% endfor %}
    </div>
    <div class="set-dates">
        <button id="send">Send away</button>
    </div>
    <div class="groups set-dates">
        <h5>Grupper</h5>
        <ul>
            {% for group in groups %}
                <li data-id="group_{{ group.id }}">{{ group.school|upper }}: {{ group.name }}</li>
            {% endfor %}
        </ul>
    </div>
    {% for col in date_columns %}
        <div class="set-dates">
            <h5>{{ col.serial }}: {{ col.name|slice(0,5) }}</h5>
            <ul>
                {% for visit in col.visits %}
                    {% if visit %}
                        {%- set row_class = "" -%}
                        {%- if visit.has_group -%}{%- set row_class = "sortable-disabled" -%}{% endif %}
                        <li class="{{ row_class }}" data-id="visit_{{ visit.id }}">{{ visit.date }}</li>
                    {%- else -%}
                        <li class="sortable-disabled" data-id="visit_null">---</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}