{% extends "common/base_mail.twig" %}

{%- set groups, group_rows, group_row_padding = DATA.groups, 0, 80 -%}
{% if groups.new|length > 0 %}{%- set group_rows = group_rows + 1 + groups.new|length -%}{% endif %}
{% if groups.removed|length > 0 %}{%- set group_rows = group_rows + 1 + groups.removed|length -%}{% endif %}
{% if groups.rest|length > 0 %}{%- set group_rows = group_rows + 1 + groups.rest|length -%}{% endif -%}
{% if group_rows > 3 %}
    {%- set group_row_padding = 10 -%}
{% endif %}


{% block title %}Ditt ansvar har ändrats!{% endblock %}

{% block preheader_text %}
    Det har skett förändringar angående vilka grupper du ansvarar för inom Naturskolans databas.
{% endblock %}

{% block image_text_box %}
    <div>
        <table role="presentation" align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td valign="middle"
                    style="text-align: center; padding: {{ group_row_padding }}px; font-size: 16px; font-weight: 600; line-height: 80%; color: #000000;">
                    {% if groups.new %}
                        <p style="margin: 0;">
                        {% if groups.new|length == 1 %}Ny grupp{%- else -%}Nya grupper{%- endif %} som du ansvarar för:

                        {%- for group in groups.new -%}
                            <p><span>- {{ group.name }}, {{ group.grade }}</span></p>
                        {%- endfor -%}

                        </p>
                    {% endif %}
                    {%- if groups.removed -%}
                        <p style="margin: 0;">
                        {% if groups.removed|length == 1 %}Borttagen grupp{%- else -%}Borttagna grupper{%- endif %} som du ej längre ansvarar för:

                        {%- for group in groups.removed -%}
                            <p><span>- {{ group.name }}, {{ group.grade }}</span></p>
                        {%- endfor -%}

                        </p>
                    {% endif %}
                    {% if groups.rest %}
                        <p style="margin: 0;">
                        {% if groups.rest|length == 1 %}Gruppen{%- else -%}Grupper{%- endif %} som du fortsätter att ansvara för:

                        {%- for group in groups.rest -%}
                            <p><span>- {{ group.name }}, {{ group.grade }}</span></p>
                        {%- endfor -%}

                        </p>
                    {% endif %}
                </td>
            </tr>
            <!-- add button element here if necessary -->
        </table>
    </div>
{% endblock %}

{% block body_text %}
    <p style="margin: 0;">Det har skett ändringar angående vilka grupper du ansvarar för. Att "vara ansvarig" för en grupp betyder att man är kontaktperson, kontrollerar specialkost och kan kontaktas om något oväntad händer med kort varsel.</p>
    <p style="margin: 0;">Ändringarna har genomförts av dig, en kollega med tillgång till lösenordet eller någon på Naturskolan.</p>
    <p style="margin: 0;">Om du tycker att denna ändring är felaktig, gå in på sidan för din skola i vår databas och ändra tillbaka eller hör av dig till oss på Naturskolan.</p>
{% endblock %}

{% block after_body_text %}
    <tr>
        <td bgcolor="#ffffff" style="padding: 0 40px 40px 40px; text-align: center;">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
                <tr>
                    <td style="border-radius: 10px; background: #222222; text-align: center;"
                        class="button-td">
                        <a href="{{ DATA.school_url }}"
                           style="background: #222222; border: 15px solid #222222; font-size: 13px; line-height: 110%; text-align: center; text-decoration: none; display: block; border-radius: 10px; font-weight: bold;"
                           class="button-a" target="_blank">
                            &nbsp;&nbsp;&nbsp;&nbsp;<span
                                style="color:#ffffff;">Besök gruppinställningarna för din skola</span>&nbsp;&nbsp;&nbsp;&nbsp;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endblock %}

{% block why_this_mail %}
    <p style="margin: 0;">Du, en kollega eller någon på Naturskolan har antingen gjort dig ansvarig för en eller flera grupper <em>eller</em> ändrat ansvaret för nån av grupperna du redan är ansvarig för.</p>
{% endblock %}
