{% extends "mail/common/base_mail.twig" %}

{% set group_designation = user.group_names|first %}
{% if nr_groups > 1 %}
    {% set group_designation = 'dina grupper' %}
{% endif %}

{% block body_text %}
<p>Snart är det dags för att du, {{ group_designation }} och vi från Naturskolan ska ses. Vi vill gärna veta att du vet om det. <br>Klicka på länken längre ner så vet vi att du vet!</p>

    {% for group in user.groups %}
        {% if group.next_visit and not group.next_visit.confirmed %}
            <p>{{ group.next_visit.topic_label }} med {{ group.name }} är planerad för <b>{{ group.next_visit.date_string }}
                </b>.
                <br>All information om dagen hittar du i <a href="{{ group.next_visit.topic_url }}" target="_blank">dagens pedagogiska planering</a>.
            </p>
            <p>Bekräfta besöket genom att <a href="{{ group.next_visit.confirmation_url }}" target="_blank">klicka här!</a>
            </p>
        {% endif %}
    {% endfor %}
<hr>
<p>Du kan även se de andra tillfällen samt redigera information om dig och din klass med denna personliga <a href="{{ user.login_url }}" target="_blank">inloggningslänk</a>.</p>
{% endblock %}
