{# data.users --> id, name, removal_link, groups --> id, name, active #}

{% extends "mail/common/base_mail_raw.twig" %}

{% block body_text %}
    <p>Någon från {{ data.school_name }} har begärt att en eller flera användare ska deaktiveras och så småningom rensas från databasen.</p>
    <p>Som skäl anges "{{ data.reason }}".</p>
    {% if data.text %}
        <p>Ytterligare upplysningar:</p>
        <p>{{ data.text }}</p>
    {% endif %}
    <ul>
    {% for user in data.users %}
        <li>[{{ user.id }}] {{ user.name }}. <a href="{{ user.removal_link }}">Ta bort</a>
        {% if user.groups %}
            <ul>
                {% for group in user.groups %}
                    <li>[{{ group.id }}] group.name.
                        {% if group.active %}
                            <em>OBS: Aktiv grupp!</em>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
